<!DOCTYPE html>

<head>

<title>LilBib</title>
<meta name="description" content="Lightweight Integrated Logistics for Book Indexing and Borrowing"/>
<meta name="keywords" content="libri, prenotazione, liceo, vinci, dav"> <!-- Zix: pare sia inutile nei nuovi browser ma a noi questo poco importa-->
<meta name="robot" content="nofollow"/> <!-- Zix: essendo un sito interno alla scuola anche in che modo il browser individua la pagina puo' sembrare superflueo ma a noi questo poco importa --> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Zix: se vi servono i nomi delle icone https://material.io/resources/icons/?style=baseline ecco a voi -->
<link rel="stylesheet" type="text/css" href="/LilBib/web/static/css/style.css"> <!--Zix: per favore usiamo un unico file css -->
<!-- Zix: se ironiamente ho lasciato due volte la directory LilBib toglietene una prima di fare il commit -->

</head>


<body>

<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/libri">Libri</a></li>   <!-- Zix: vanno create ed inserite le pagine che reindirizzano al punto specificato -->
			<li><a href="/autori">Autori</a></li>
			<li><a href="/generi">Generi</a></li>
			<li><a href="/prestito">Prestito</a></li>
			<li><a href="/restituzione">Restituzione</a></li>
			<li><span class="footerRight"><a href="/login"> <!--<i class="material-icons">person</i>--><span class="login">Login</span></a></span></li>
		</ul>
	</nav>
</header>

<div>
	<h1 class="TitoloLib">Autori</h1>
</div>


<div class="elencoLib">
	<div class="Box1G">
	<h1 class="autori"><a href="">Prova 6</a></h1>
	</div>
	<div class="Box2G">
	<h1 class="autori"><a href="">Prova 5</a></h1>
	</div>
	<div class="Box3G">
	<h1 class="autori"><a href="">Prova 4</a></h1>
	</div>
	<div class="Box4G">
	<h1 class="autori"><a href="">Prova 3</a></h1>
	</div>
	<div class="Box5G">
	<h1 class="autori"><a href="">Prova 2</a></h1>
	</div>
	<div class="Box6G">
	<h1 class="autori"><a href="">Prova 1</a></h1>
	</div>
	
</div>


<footer id="Other" >
	<p class="Other FooterLeft">© 2020 LilBib | Versione: vXX.XX</p>
	<p class="Other FooterRight"><a href="https://git.antonionapolitano.eu/napaalm/LilBib.git">Codice sorgente</a> 
	| <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">Licenza AGPLv3</a></p>
</footer>

</body>
</html>
