<!DOCTYPE html>

<head>

<title>LilBib</title>
<meta name="description" content="Lightweight Integrated Logistics for Book Indexing and Borrowing"/>
<meta name="keywords" content="libri, prenotazione, liceo, vinci, dav"> <!-- Zix: pare sia inutile nei nuovi browser ma a noi questo poco importa-->
<meta name="robot" content="nofollow"/> <!-- Zix: essendo un sito interno alla scuola anche in che modo il browser individua la pagina puo' sembrare superflueo ma a noi questo poco importa --> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Zix: se vi servono i nomi delle icone https://material.io/resources/icons/?style=baseline ecco a voi -->
<link rel="stylesheet" type="text/css" href="/LilBib/web/static/css/style.css"> <!--Zix: per favore usiamo un unico file css -->
<!-- Zix: se eroniamente ho lasciato due volte la directory LilBib toglietene una prima di fare il commit -->

</head>


<body>

<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/libri">Libri</a></li>   <!-- Zix: vanno create ed inserite le pagine che reindirizzano al punto specificato -->
			<li><a href="/autori">Autori</a></li>
			<li><a href="/generi">Generi</a></li>
			<li><a href="/prestito">Prestito</a></li>
			<li><a href="/restituzione">Restituzione</a></li>
			<li><span class="footerRight"><a href="/login"> <!--<i class="material-icons">person</i>--><span class="login">Login</span></a></span></li>
		</ul>
	</nav>
</header>

<div>
	<h1 class="TitoloLib">Libri</h1>
</div>
 

<div class="elencoLib" id="DimElencoLib">
	{{ range $index, $value := .Libri}}
		<a href="/libro/{{ $value.Codice }}" >
		<div class="Box1">
			<h2>Titolo: {{$value.Titolo}}</h2>
			<h2>Autore: {{$value.NomeAutore}} {{$value.CognomeAutore}}</h2>
			<h2>Genere: {{$value.Genere}}</h2>
			<h2>Codice: {{$value.Codice}}</h2>
			{{ if $value.Prenotato }}
			<h2>Disponibile: No</h2>
			<a/>
			{{ else }}
			<h2>Disponibile: Si</h2>
			<a/>
			{{ end }}
		</div>
	{{ end }} 
	
</div>
<div>
<footer id="footerId" class="Other" >
	<p id="text2Id" class="Other FooterLeft">© 2020 LilBib | Versione: {{ .Values.Version }}</p>
	<p id="text1Id" class="Other FooterRight"><a href="https://git.antonionapolitano.eu/napaalm/LilBib.git">Codice sorgente</a> 
	| <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">Licenza AGPLv3</a></p>
</footer>
</div>


<div class="row">

<a><   </a><span>N</span><a>   ></a>

</div>


<!-- <script type="text/javascript">

	var Alt = parseInt(window.innerHeight);
	var para = document.querySelector('#DimElencoLib');
	var foot = document.querySelector('#footerId');
	var Text1 = document.querySelector('#text2Id');
	var Text2 = document.querySelector('#text1Id');
	var Styles = window.getComputedStyle(para);
	var height = parseInt(Styles.getPropertyValue('height'));
	var minHeight = parseInt(height + 265);
	
	
	if((Alt - minHeight) > 140 ){
		
		foot.style.height = '60px';
		foot.style.position= 'absolute';
		foot.style.bottom= '0';
		Text2.style.display= 'block';
		Text1.style.display= 'block'; 
		Text2.style.padding = '0';
		Text1.style.padding = '0';
		

		
		} -->
		
		<script type="text/javascript">

	var para = document.querySelector('#DimElencoLib');
	var foot = document.querySelector('#footerId');
	var Text1 = document.querySelector('#text2Id');
	var Text2 = document.querySelector('#text1Id');
	var Styles = window.getComputedStyle(para);
	var height = parseInt(Styles.getPropertyValue('height'));
	var prova = 1;
	
	if(height <= 500){
		
		foot.style.height = '60px';
		foot.style.position= 'absolute';
		foot.style.bottom= '0';
		Text2.style.display= 'block';
		Text1.style.display= 'block'; 
		Text2.style.padding = '0';
		Text1.style.padding = '0';
		

		
		}
		
	
	
</script>
		

	
	
</script>

</body>
</html> 
