<!DOCTYPE html>

<head>

<title>LilBib</title>
<meta name="description" content="Lightweight Integrated Logistics for Book Indexing and Borrowing"/>
<meta name="keywords" content="libri, prenotazione, liceo, vinci, dav"> <!-- Zix: pare sia inutile nei nuovi browser ma a noi questo poco importa-->
<meta name="robot" content="nofollow"/> <!-- Zix: essendo un sito interno alla scuola anche in che modo il browser individua la pagina puo' sembrare superflueo ma a noi questo poco importa --> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Zix: se vi servono i nomi delle icone https://material.io/resources/icons/?style=baseline ecco a voi -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css"> <!--Zix: per favore usiamo un unico file css -->
<!-- Zix: se eroniamente ho lasciato due volte la directory LilBib toglietene una prima di fare il commit -->

</head>


<body>
<div style="min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; ">
   
<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/libri">Libri</a></li>   <!-- Zix: vanno create ed inserite le pagine che reindirizzano al punto specificato -->
			<li><a href="/autori">Autori</a></li>
			<li><a href="/generi">Generi</a></li>
			<li><a href="/prestito">Prestito</a></li>
			<li><a href="/restituzione">Restituzione</a></li>
			<li><span class="footerRight"><a href="/login"> <!--<i class="material-icons">person</i>--><span class="login">Login</span></a></span></li>
		</ul>
	</nav>
</header>
<section>
<div>
	<h1 class="TitoloLib">Libri</h1>
</div>

<div style="position: static">


<div class="elencoLib" id="DimElencoLib">

<div id="tfheader">
    <form id="tfnewsearch" method="get">
	    <input type="text" class="tftextinput0" id="tftextinput" name="autori"   placeholder="Autore" value="{{.Autori}}"/>
	    <input type="text" class="tftextinput1" id="tftextinput" name="generi"   placeholder="Genere" value="{{.Generi}}"/>
	    <input type="text" class="tftextinput2" id="tftextinput" name="titolo"   placeholder="Libro" value="{{.Titolo}}"/>
          <br/> <input type="submit" value="SEARCH" class="tfbutton">
    </form>
</div>


	{{ range $index, $value := .Libri}}
		
		<div class="Box1">
			<a href="/libro/{{ $value.Codice }}" >
			<h2>Titolo: {{$value.Titolo}}</h2>
			<h2>Autore: {{$value.NomeAutore}} {{$value.CognomeAutore}}</h2>
			<h2>Genere: {{$value.Genere}}</h2>
			<h2>Codice: {{$value.Codice}}</h2>
			{{ if $value.Prenotato }}
			<h2>Disponibile: No</h2>
			<a/>
			{{ else }}
			<h2>Disponibile: Si</h2>
			<a/>
			{{ end }}
		</div>
	{{ end }} 
	
</div>

<div class="row">

	<a id="sypeeoui1" class="navbar" href="/libri/{{ .PaginaPrec }}"><   </a><span> {{ .Pagina }} </span><a id = "sypeeoui2" href="/libri/{{ .PaginaSucc }}">   ></a>

</div>
</div>
<section/>

<footer id="footerId" class="Other" >
	<p id="text2Id" class="FooterLeft">© 2020 LilBib | Versione: {{ .Values.Version }}</p>
	<p id="text1Id" class="FooterRight"><a href="https://git.antonionapolitano.eu/napaalm/LilBib.git">Codice sorgente</a> 
	| <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">Licenza AGPLv3</a></p>
</footer>

<script>
    var a = document.getElementById('tfnewsearch');
    a.addEventListener('submit',function(e) {
    e.preventDefault();
    var b = document.getElementById('tftextinput').value;
	    window.location.href = "/libri/"+({{.Pagina}}+1)"?generi="+b;
    });
</script>

<script>
	document.getElementById("sypeeoui1").href += window.location.href.substring(window.location.href.lastIndexOf("/")+2, window.location.href.length)
	document.getElementById("sypeeoui2").href += window.location.href.substring(window.location.href.lastIndexOf("/")+2, window.location.href.length)
</script>

 
	</div>

</body>
</html> 
