<!DOCTYPE html>

<head>

<title>LilBib</title>
<meta name="description" content="Lightweight Integrated Logistics for Book Indexing and Borrowing"/>
<meta name="keywords" content="libri, prenotazione, liceo, vinci, dav"> <!-- Zix: pare sia inutile nei nuovi browser ma a noi questo poco importa-->
<meta name="robot" content="nofollow"/> <!-- Zix: essendo un sito interno alla scuola anche in che modo il browser individua la pagina puo' sembrare superflueo ma a noi questo poco importa --> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Zix: se vi servono i nomi delle icone https://material.io/resources/icons/?style=baseline ecco a voi -->
<link rel="stylesheet" type="text/css" href="/LilBib/LilBib/web/static/css/style.css"> <!--Zix: per favore usiamo un unico file css -->
<!-- Zix: se ironiamente ho lasciato due volte la directory LilBib toglietene una prima di fare il commit -->

</head>


<body>

<header>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="libri.html">Libri</a></li>   <!-- Zix: vanno create ed inserite le pagine che reindirizzano al punto specificato -->
			<li><a href="autori.html">Autori</a></li>
			<li><a href="generi.html">Generi</a></li>
			<li><a href="prestito.html">Prestito</a></li>
			<li><a href="restituzione.html">Restituzione</a></li>
			<li><span class="footerRight"><a href="login.html"> <!--<i class="material-icons">person</i>--><span class="login">Login</span></a></span></li>
		</ul>
	</nav>
</header>

<div>
	<h1 class="TitoloLib">Libri</h1>
</div>

<div class="menuLib">
	<a class="menuLib0" href="">A</a> - 
	<a class="menuLib" href="">B</a> - 
	<a class="menuLib" href="">C</a> - 
	<a class="menuLib" href="">D</a> - 
	<a class="menuLib" href="">E</a> - 
	<a class="menuLib" href="">F</a> - 
	<a class="menuLib" href="">G</a> - 
	<a class="menuLib" href="">H</a> - 
	<a class="menuLib" href="">I</a> - 
	<a class="menuLib" href="">J</a> - 
	<a class="menuLib" href="">K</a> - 
	<a class="menuLib" href="">L</a> - 
	<a class="menuLib" href="">M</a> - 
	<a class="menuLib" href="">N</a> - 
	<a class="menuLib" href="">O</a> - 
	<a class="menuLib" href="">P</a> - 
	<a class="menuLib" href="">Q</a> - 
	<a class="menuLib" href="">R</a> - 
	<a class="menuLib" href="">S</a> - 
	<a class="menuLib" href="">T</a> - 
	<a class="menuLib" href="">U</a> - 
	<a class="menuLib" href="">V</a> - 
	<a class="menuLib" href="">W</a> - 
	<a class="menuLib" href="">X</a> - 
	<a class="menuLib" href="">Y</a> - 
	<a class="menuLib1" href="">Z</a>
</div>

<div class="elencoLib">
	<div class="Box1">
	c
	</div>
	<div class="Box2">
	c
	</div>
	<div class="Box3">
	c
	</div>
</div>

<footer id="Other" >
	<p class="Other FooterLeft">© 2020 LilBib | Versione: vXX.XX</p>
	<p class="Other FooterRight">Codice sorgente | Licenza AGPLv3</p>
</footer>

</body>
</html> 
