<!DOCTYPE html>

<head>

<title>LilBib</title>
<meta name="description" content="Lightweight Integrated Logistics for Book Indexing and Borrowing"/>
<meta name="keywords" content="libri, prenotazione, liceo, vinci, dav"> <!-- Zix: pare sia inutile nei nuovi browser ma a noi questo poco importa-->
<meta name="robot" content="nofollow"/> <!-- Zix: essendo un sito interno alla scuola anche in che modo il browser individua la pagina puo' sembrare superflueo ma a noi questo poco importa --> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Zix: se vi servono i nomi delle icone https://material.io/resources/icons/?style=baseline ecco a voi -->
<link rel="stylesheet" type="text/css" href="/LilBib/web/static/css/index.css"> <!--Zix: per favore usiamo un unico file css -->
<!-- Zix: se ironiamente ho lasciato due volte la directory LilBib toglietene una prima di fare il commit -->

</head>


<body>

<header>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="libri.html">Libri</a></li>   <!-- Zix: vanno create ed inserite le pagine che reindirizzano al punto specificato -->
			<li><a href="autori.html">Autori</a></li>
			<li><a href="generi.html">Generi</a></li>
			<li><a href="prestito.html">Prestito</a></li>
			<li><a href="restituzione.html">Restituzione</a></li>
			<li><span class="footerRight"><a href="login.html"> <!--<i class="material-icons">person</i>--><span class="login">Login</span></a></span></li>
		</ul>
	</nav>
</header>

<div class="login">
	<div class="form">
		<div class="imgLog">
			<img class="log" src="/LilBib/LilBib/web/static/img/libriHome.jpeg" />
			<h2 class="log">LilBib</h2>
		</div>
		<form action="" method="post">
			<h3>Username</h3>
			<input type="text" name="username" maxlenght="20" value="username"/>
			<br />
			<h3>Password</h3>
			<input type="password" name="password" maxlenght="20" value="username"/>
			<br />
			<input type="submit" value="accedi" />
		</form>
	</div>
</div>

<footer>
	<p class="FooterLeft">© 2020 LilBib | Versione: vXX.XX</p>
	<p class="FooterRight">Codice sorgente | Licenza AGPLv3</p>
</footer>


</body>
</html>
