<!DOCTYPE html>

<head>

<title>LilBib</title>
<meta name="description" content="Lightweight Integrated Logistics for Book Indexing and Borrowing"/>
<meta name="keywords" content="libri, prenotazione, liceo, vinci, dav"> <!-- Zix: pare sia inutile nei nuovi browser ma a noi questo poco importa-->
<meta name="robot" content="nofollow"/> <!-- Zix: essendo un sito interno alla scuola anche in che modo il browser individua la pagina puo' sembrare superflueo ma a noi questo poco importa --> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
<!--Zix: se vi servono i nomi delle icone https://material.io/resources/icons/?style=baseline ecco a voi -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css"> <!--Zix: per favore usiamo un unico file css -->
<!-- Zix: se ironiamente ho lasciato due volte la directory LilBib toglietene una prima di fare il commit -->

</head>


<body>

<header>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="libri.html">Libri</a></li>   <!-- Zix: vanno create ed inserite le pagine che reindirizzano al punto specificato -->
			<li><a href="autori.html">Autori</a></li>
			<li><a href="generi.html">Generi</a></li>
			<li><a href="prestito.html">Prestito</a></li>
			<li><a href="restituzione.html">Restituzione</a></li>
			<li><span class="footerRight"><a href="login.html"> <!--<i class="material-icons">person</i>--><span class="login">Login</span></a></span></li>
		</ul>
	</nav>
</header>

</body>
</html>
