<!DOCTYPE html>

<head>

<title>LilBib</title>
<meta name="description" content="Lightweight Integrated Logistics for Book Indexing and Borrowing"/>
<meta name="keywords" content="libri, prenotazione, liceo, vinci, dav"> <!-- Zix: pare sia inutile nei nuovi browser ma a noi questo poco importa-->
<meta name="robot" content="nofollow"/> <!-- Zix: essendo un sito interno alla scuola anche in che modo il browser individua la pagina puo' sembrare superflueo ma a noi questo poco importa --> 
<link rel="stylesheet" type="text/css" href="/static/css/960_12_col.css"> <!-- questo e' un tentativo che per ora e fallito--> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Zix: se vi servono i nomi delle icone https://material.io/resources/icons/?style=baseline ecco a voi -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css"> <!--Zix: per favore usiamo un unico file css -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>
	function logout() {
		document.cookie = 'access_token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		window.location = '/login';
	}
</script>

<!-- Zix: se ironiamente ho lasciato due volte la directory LilBib toglietene una prima di fare il commit -->

</head>

 
<body>

<div style=" min-width:1150px">
<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/libri">Libri</a></li>   <!-- Zix: vanno create ed inserite le pagine che reindirizzano al punto specificato -->
			<li><a href="/autori">Autori</a></li>
			<li><a href="/generi">Generi</a></li>
			<li><a href="/prestito">Prestito</a></li>
			<li><a href="/restituzione">Restituzione</a></li>
			<li><span class="footerRight"><a href="/login"> <!--<i class="material-icons">person</i>--><span class="login">Login</span></a></span></li>
		</ul>	
	</nav>
</header>


<div>
	<h1 class="TitoloLib">Utente</h1>
</div>


<div class="containerUtente">

<h2 class="Utente">{{ .Utente }}</h2>
<h2 class="Utente">Storico</h2>
<div style="padding-left: 40px; padding-right: 40px; margin-bottom: 40px;">
<table id="fancytable" class="ggTable">

<col width="35%">
    <col width="32%">
    <col width="32%">
    <thead>
        <tr>
            <th>Libro</th>
            <th>Data Prenotazione</th>
            <th>Data Restituzione</th>
        </tr>
    </thead>
    <tbody>
	 {{ range $index, $value := .PrestitiTitoli }}
         <tr>
	    <td>{{ $value.Titolo }}</td>
	    <td>{{ $value.Prestito.Data_prenotazione }}</td>
	    <td>{{ $value.Prestito.Data_restituzione }}</td>
         </tr>
	 {{ end }}

      
    </tbody>

</table>
<div class="spazio"></div>
<div style="width: 100%; text-align: center;">
<button onclick="logout()" type="button" style="color: white; background: 
linear-gradient(to bottom, #232C33 0%, #536878 100%); border: 0px; cursor: pointer; width: 70px; height: 25px;">Esci</button>
</div>
<div class="spazio"></div>
</div>
</div>
  



<div>
<footer id="footerId" class="Other" >
	<p id="text2Id" class="Other FooterLeft">© 2020 LilBib | Versione: {{ .Values.Version }}</p>
	<p id="text1Id" class="Other FooterRight"><a href="https://git.antonionapolitano.eu/napaalm/LilBib.git">Codice sorgente</a> 
	| <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">Licenza AGPLv3</a></p>
</footer>
</div>
</div>

<script>$(document).ready(function() {
    $('#fancytable').DataTable();
} );
</script>  

</body>

</html>
